Service References/SoaMD/www.traderdata.com.br.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="www.traderdata.com.br" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="www.traderdata.com.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="www.traderdata.com.br/Imports">
      <xsd:import schemaLocation="" namespace="www.traderdata.com.br" />
      <xsd:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/Traderdata.Server.Core.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMarketDataTerminalWeb_GetAtivos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAtivos" />
  </wsdl:message>
  <wsdl:message name="IMarketDataTerminalWeb_GetAtivos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAtivosResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketDataTerminalWeb_GetAtivosCompactado_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAtivosCompactado" />
  </wsdl:message>
  <wsdl:message name="IMarketDataTerminalWeb_GetAtivosCompactado_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAtivosCompactadoResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketDataTerminalWeb_GetAtivo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAtivo" />
  </wsdl:message>
  <wsdl:message name="IMarketDataTerminalWeb_GetAtivo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAtivoResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketDataTerminalWeb_GetHistoricoBovespa_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoricoBovespa" />
  </wsdl:message>
  <wsdl:message name="IMarketDataTerminalWeb_GetHistoricoBovespa_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoricoBovespaResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketDataTerminalWeb_GetHistoricoBMF_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoricoBMF" />
  </wsdl:message>
  <wsdl:message name="IMarketDataTerminalWeb_GetHistoricoBMF_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoricoBMFResponse" />
  </wsdl:message>
  <wsdl:portType name="IMarketDataTerminalWeb">
    <wsdl:operation name="GetAtivos">
      <wsdl:input wsaw:Action="www.traderdata.com.br/IMarketDataTerminalWeb/GetAtivos" message="tns:IMarketDataTerminalWeb_GetAtivos_InputMessage" />
      <wsdl:output wsaw:Action="www.traderdata.com.br/IMarketDataTerminalWeb/GetAtivosResponse" message="tns:IMarketDataTerminalWeb_GetAtivos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAtivosCompactado">
      <wsdl:input wsaw:Action="www.traderdata.com.br/IMarketDataTerminalWeb/GetAtivosCompactado" message="tns:IMarketDataTerminalWeb_GetAtivosCompactado_InputMessage" />
      <wsdl:output wsaw:Action="www.traderdata.com.br/IMarketDataTerminalWeb/GetAtivosCompactadoResponse" message="tns:IMarketDataTerminalWeb_GetAtivosCompactado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAtivo">
      <wsdl:input wsaw:Action="www.traderdata.com.br/IMarketDataTerminalWeb/GetAtivo" message="tns:IMarketDataTerminalWeb_GetAtivo_InputMessage" />
      <wsdl:output wsaw:Action="www.traderdata.com.br/IMarketDataTerminalWeb/GetAtivoResponse" message="tns:IMarketDataTerminalWeb_GetAtivo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHistoricoBovespa">
      <wsdl:input wsaw:Action="www.traderdata.com.br/IMarketDataTerminalWeb/GetHistoricoBovespa" message="tns:IMarketDataTerminalWeb_GetHistoricoBovespa_InputMessage" />
      <wsdl:output wsaw:Action="www.traderdata.com.br/IMarketDataTerminalWeb/GetHistoricoBovespaResponse" message="tns:IMarketDataTerminalWeb_GetHistoricoBovespa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHistoricoBMF">
      <wsdl:input wsaw:Action="www.traderdata.com.br/IMarketDataTerminalWeb/GetHistoricoBMF" message="tns:IMarketDataTerminalWeb_GetHistoricoBMF_InputMessage" />
      <wsdl:output wsaw:Action="www.traderdata.com.br/IMarketDataTerminalWeb/GetHistoricoBMFResponse" message="tns:IMarketDataTerminalWeb_GetHistoricoBMF_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>