Service References/SoaMD/www.traderdata.com.br.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="www.traderdata.com.br" elementFormDefault="qualified" targetNamespace="www.traderdata.com.br" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/Traderdata.Server.Core.DTO" />
  <xs:element name="GetAtivos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtivosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAtivosResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtivosCompactado">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtivosCompactadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAtivosCompactadoResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ativo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAtivoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoricoBovespa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ativo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="periodicidade" type="xs:int" />
        <xs:element minOccurs="0" name="numeroDias" type="xs:int" />
        <xs:element minOccurs="0" name="ajuste" type="xs:boolean" />
        <xs:element minOccurs="0" name="afterMarket" type="xs:boolean" />
        <xs:element minOccurs="0" name="delay" type="xs:boolean" />
        <xs:element minOccurs="0" name="dataHoraUltimaBarra" type="xs:dateTime" />
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoricoBovespaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Traderdata.Server.Core.DTO" minOccurs="0" name="GetHistoricoBovespaResult" nillable="true" type="q3:ArrayOfCotacaoServerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoricoBMF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ativo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="periodicidade" type="xs:int" />
        <xs:element minOccurs="0" name="numeroDias" type="xs:int" />
        <xs:element minOccurs="0" name="ajuste" type="xs:boolean" />
        <xs:element minOccurs="0" name="afterMarket" type="xs:boolean" />
        <xs:element minOccurs="0" name="delay" type="xs:boolean" />
        <xs:element minOccurs="0" name="dataHoraUltimaBarra" type="xs:dateTime" />
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoricoBMFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Traderdata.Server.Core.DTO" minOccurs="0" name="GetHistoricoBMFResult" nillable="true" type="q4:ArrayOfCotacaoServerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>