Service References/TerminalWebSVC/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="www.traderdata.com.br" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TerminalWeb" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_ITerminalWeb_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <gzip:GZipEncoding xmlns:gzip="http://schemas.microsoft.com/ws/06/2004/mspolicy/netgzip1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="www.traderdata.com.br" location="" />
  <wsdl:types />
  <wsdl:binding name="CustomBinding_ITerminalWeb" type="i0:ITerminalWeb">
    <wsp:PolicyReference URI="#CustomBinding_ITerminalWeb_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetornaTodasAnalises">
      <soap12:operation soapAction="www.traderdata.com.br/ITerminalWeb/RetornaTodasAnalises" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaAnalisePorId">
      <soap12:operation soapAction="www.traderdata.com.br/ITerminalWeb/RetornaAnalisePorId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarAnaliseCompartilhada">
      <soap12:operation soapAction="www.traderdata.com.br/ITerminalWeb/SalvarAnaliseCompartilhada" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutenticaLoginAndPassword">
      <soap12:operation soapAction="www.traderdata.com.br/ITerminalWeb/AutenticaLoginAndPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperaSenhaPorEmail">
      <soap12:operation soapAction="www.traderdata.com.br/ITerminalWeb/RecuperaSenhaPorEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperaSenhaPorCPF">
      <soap12:operation soapAction="www.traderdata.com.br/ITerminalWeb/RecuperaSenhaPorCPF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarUsuario">
      <soap12:operation soapAction="www.traderdata.com.br/ITerminalWeb/SalvarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="www.traderdata.com.br/ITerminalWeb/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="www.traderdata.com.br/ITerminalWeb/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaConfiguracaoPadraoPorId">
      <soap12:operation soapAction="www.traderdata.com.br/ITerminalWeb/RetornaConfiguracaoPadraoPorId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvaConfiguracaoPadrao">
      <soap12:operation soapAction="www.traderdata.com.br/ITerminalWeb/SalvaConfiguracaoPadrao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaAreaTrabalhoPorId">
      <soap12:operation soapAction="www.traderdata.com.br/ITerminalWeb/RetornaAreaTrabalhoPorId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarGrafico">
      <soap12:operation soapAction="www.traderdata.com.br/ITerminalWeb/SalvarGrafico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaGrafico">
      <soap12:operation soapAction="www.traderdata.com.br/ITerminalWeb/RetornaGrafico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvaAreaTrabalho">
      <soap12:operation soapAction="www.traderdata.com.br/ITerminalWeb/SalvaAreaTrabalho" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvaTemplate">
      <soap12:operation soapAction="www.traderdata.com.br/ITerminalWeb/SalvaTemplate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluiTemplate">
      <soap12:operation soapAction="www.traderdata.com.br/ITerminalWeb/ExcluiTemplate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaTemplatePorId">
      <soap12:operation soapAction="www.traderdata.com.br/ITerminalWeb/RetornaTemplatePorId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaTemplatesPorClientId">
      <soap12:operation soapAction="www.traderdata.com.br/ITerminalWeb/RetornaTemplatesPorClientId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutenticaCorretora">
      <soap12:operation soapAction="www.traderdata.com.br/ITerminalWeb/AutenticaCorretora" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaTodosPublicadores">
      <soap12:operation soapAction="www.traderdata.com.br/ITerminalWeb/RetornaTodosPublicadores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvaInteresseAnalise">
      <soap12:operation soapAction="www.traderdata.com.br/ITerminalWeb/SalvaInteresseAnalise" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaInteressePorUsuarioId">
      <soap12:operation soapAction="www.traderdata.com.br/ITerminalWeb/RetornaInteressePorUsuarioId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaUsuarioPorId">
      <soap12:operation soapAction="www.traderdata.com.br/ITerminalWeb/RetornaUsuarioPorId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportarAnalise">
      <soap12:operation soapAction="www.traderdata.com.br/ITerminalWeb/ImportarAnalise" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaUltimaAnalise">
      <soap12:operation soapAction="www.traderdata.com.br/ITerminalWeb/RetornaUltimaAnalise" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaAnalisePorFiltro">
      <soap12:operation soapAction="www.traderdata.com.br/ITerminalWeb/RetornaAnalisePorFiltro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaAnaliseComInteresse">
      <soap12:operation soapAction="www.traderdata.com.br/ITerminalWeb/RetornaAnaliseComInteresse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TerminalWeb">
    <wsdl:port name="CustomBinding_ITerminalWeb" binding="tns:CustomBinding_ITerminalWeb">
      <soap12:address location="http://localhost:8787/terminal-web" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8787/terminal-web</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>