Service References/TerminalWebSVC/www.traderdata.com.br1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="www.traderdata.com.br" elementFormDefault="qualified" targetNamespace="www.traderdata.com.br" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" />
  <xs:element name="RetornaTodasAnalises">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaTodasAnalisesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="RetornaTodasAnalisesResult" nillable="true" type="q1:ArrayOfAnaliseCompartilhadaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaAnalisePorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaAnalisePorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="RetornaAnalisePorIdResult" nillable="true" type="q2:AnaliseCompartilhadaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAnaliseCompartilhada">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImagemPrincipal" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="analiseDTO" nillable="true" type="q3:AnaliseCompartilhadaDTO" />
        <xs:element minOccurs="0" name="macroCliente" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="grafico" nillable="true" type="q4:GraficoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAnaliseCompartilhadaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AutenticaLoginAndPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutenticaLoginAndPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="AutenticaLoginAndPasswordResult" nillable="true" type="q5:UsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperaSenhaPorEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperaSenhaPorEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="RecuperaSenhaPorEmailResult" nillable="true" type="q6:UsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperaSenhaPorCPF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cpf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperaSenhaPorCPFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="RecuperaSenhaPorCPFResult" nillable="true" type="q7:UsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="usuario" nillable="true" type="q8:UsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_HB" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnectResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaConfiguracaoPadraoPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaConfiguracaoPadraoPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="RetornaConfiguracaoPadraoPorIdResult" nillable="true" type="q9:ConfiguracaoPadraoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvaConfiguracaoPadrao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="configDTO" nillable="true" type="q10:ConfiguracaoPadraoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvaConfiguracaoPadraoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaAreaTrabalhoPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaAreaTrabalhoPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="RetornaAreaTrabalhoPorIdResult" nillable="true" type="q11:AreaTrabalhoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarGrafico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="graficoObj" nillable="true" type="q12:GraficoDTO" />
        <xs:element minOccurs="0" name="usuarioId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarGraficoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaGrafico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ativo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="periodicidade" type="xs:int" />
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaGraficoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="RetornaGraficoResult" nillable="true" type="q13:GraficoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvaAreaTrabalho">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="areaTrabalhoDTO" nillable="true" type="q14:AreaTrabalhoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvaAreaTrabalhoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvaTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="TemplateDTO" nillable="true" type="q15:TemplateDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvaTemplateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluiTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="templateDTO" nillable="true" type="q16:TemplateDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluiTemplateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaTemplatePorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaTemplatePorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="RetornaTemplatePorIdResult" nillable="true" type="q17:TemplateDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaTemplatesPorClientId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaTemplatesPorClientIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="RetornaTemplatesPorClientIdResult" nillable="true" type="q18:ArrayOfTemplateDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutenticaCorretora">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutenticaCorretoraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="AutenticaCorretoraResult" nillable="true" type="q19:UsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaTodosPublicadores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaTodosPublicadoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="RetornaTodosPublicadoresResult" nillable="true" type="q20:ArrayOfUsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvaInteresseAnalise">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="listaInteresse" nillable="true" type="q21:ArrayOfInteresseAnaliseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvaInteresseAnaliseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaInteressePorUsuarioId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuarioId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaInteressePorUsuarioIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="RetornaInteressePorUsuarioIdResult" nillable="true" type="q22:ArrayOfInteresseAnaliseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaUsuarioPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaUsuarioPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="RetornaUsuarioPorIdResult" nillable="true" type="q23:UsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportarAnalise">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAnalise" type="xs:int" />
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportarAnaliseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaUltimaAnalise">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ativo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaUltimaAnaliseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="RetornaUltimaAnaliseResult" nillable="true" type="q24:AnaliseCompartilhadaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaAnalisePorFiltro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PublicadorId" type="xs:int" />
        <xs:element minOccurs="0" name="ativo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaAnalisePorFiltroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="RetornaAnalisePorFiltroResult" nillable="true" type="q25:ArrayOfAnaliseCompartilhadaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaAnaliseComInteresse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UsuarioId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaAnaliseComInteresseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="RetornaAnaliseComInteresseResult" nillable="true" type="q26:ArrayOfAnaliseCompartilhadaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>